    <header>
        <div class="container">
            <nav>
                <div class="logo">
                   <a href="#main" ><img src="logo.png" alt="" ></a> 
                </div>
                <ul class="nav-links">
                    <li><a href="#about">About </a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#">##</a></li>
                    <li><a href="#">##</a></li>
                </ul>
                <a href="#contact" class="contact-button">Contact Us</a>
            </nav>
        </div>
    </header> 