    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="logo.png" alt="">
                </div>
                <ul class="nav-links">
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#capabilities">Capabilities</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#owner">Owner</a></li>
                    <li><a href="#feedback">Feedback</a></li>
                </ul>
                <a href="#contact" class="contact-button">Contact Us</a>
            </nav>
        </div>
    </header>