<nav class="navbar">
  <div class="navbar-container">
    <img src="img/logo.png" alt="" >
    
    <button class="burger-menu" [class.active]="isMenuOpen" (click)="toggleMenu()" aria-label="Toggle menu">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
    
    <ul class="navbar-menu" [class.active]="isMenuOpen" (clickOutside)="closeMenu()">
      <li><a routerLink="/home" [routerLinkActive]="activeRouteClass" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/contact" [routerLinkActive]="activeRouteClass" (click)="closeMenu()">Contact</a></li>
      <li><a routerLink="/about" [routerLinkActive]="activeRouteClass" (click)="closeMenu()">About</a></li>
      
    </ul>
  </div>
</nav>