/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background: radial-gradient(circle at bottom, #2c3e50, #0a0e17, #000);
    margin: 0;
    scroll-behavior: smooth;

  }
  app-root {
    display: block;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }