   <div class="video-container">

    <div class="text-3d">Meskhi 2000</div>


    <p>"ჩვენ ვართ კონცენტრირებული მხოლოდ მომხმარებლის კეთილგანწყობაზე, ამიტომაც ჩვენ გთავაზობთ უმაღლესი ხარისხის მომსახურეობას."</p>

    <button class="animated-button">
      <span>გაიგეთ მეტი</span>
      <span></span>
    </button>
  </div> 



<!--   
<div class="container">
  <section class="about-section"  >
    <div class="content-wrapper">
      <div class="person-image" >
        <img src="leqso 2 - Copy.png" alt="ხელმძღვანელი">
      </div>
      
      <div class="about-content">
        <h2>მესხი 2000-ის ხელმძღვანელი და დამფუძნებელი        </h2>
        <div class="founder-name">ალექსი ყულჯანიშვილი</div>
        
        <div class="company-description">
          <p>კომპანია ,,მესხი 2000" ბაზარზე 2000 წელს გამოჩნდა და დაარსების დღიდან აქტიურად ემსახურება მომხმარებელს, რომლის მიზანია დამკვეთის ერთგულების მოპოვება, ხარისხის კონტროლი, სიახლეების ათვისება და განვითარებისკენ მუდმივი სწრაფვა. უახლესი ტექნოლოგიებით ვამზადებთ საჭრისებ, ფრეზებს, ნებისმეირ კონფიგურაციის და მომსახურებოას ვეწევით ცირკული, ლენტური ხერხების, ფრეზების და PCD (ალმასის) ფრეზების გალესვაზე.</p>
        </div>
        
        <div class="slogan">
          ინოვაცია და მაღალი ხარისხი ჩვენი მომხმარებლის კეთილგანწყობის საწინდარია - ,,მესხი 2000"
        </div>
        
        <a href="#" class="button">გაიგე მეტი</a>
      </div>
    </div>
  </section>
  
  <div class="contact-button-wrapper">
    <button class="contact-button">დაგვიკავშირდით</button>
  </div>
</div> 

 -->


 <div class="container">
  <section class="about-section">
    <div class="content-wrapper">
      <div class="person-image animate-element" #animateOnScroll>
        <img src="leqso 2 - Copy.png" alt="ხელმძღვანელი">
      </div>
      
      <div class="about-content">
        <h2 class="animate-element" #animateOnScroll>მესხი 2000-ის ხელმძღვანელი და დამფუძნებელი</h2>
        <div class="founder-name animate-element" #animateOnScroll>ალექსი ყულჯანიშვილი</div>
        
        <div class="company-description animate-element" #animateOnScroll>
          <p>კომპანია ,,მესხი 2000" ბაზარზე 2000 წელს გამოჩნდა და დაარსების დღიდან აქტიურად ემსახურება მომხმარებელს, რომლის მიზანია დამკვეთის ერთგულების მოპოვება, ხარისხის კონტროლი, სიახლეების ათვისება და განვითარებისკენ მუდმივი სწრაფვა. უახლესი ტექნოლოგიებით ვამზადებთ საჭრისებ, ფრეზებს, ნებისმეირ კონფიგურაციის და მომსახურებოას ვეწევით ცირკული, ლენტური ხერხების, ფრეზების და PCD (ალმასის) ფრეზების გალესვაზე.</p>
        </div>
        
        <div class="slogan animate-element" #animateOnScroll>
          ინოვაცია და მაღალი ხარისხი ჩვენი მომხმარებლის კეთილგანწყობის საწინდარია - ,,მესხი 2000"
        </div>
        
        <a href="#" class="button animate-element" #animateOnScroll>გაიგე მეტი</a>
      </div>
    </div>
  </section>
  
  <div class="contact-button-wrapper animate-element" #animateOnScroll>
    <button class="contact-button">დაგვიკავშირდით</button>
  </div>
</div>